In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('pokedex.csv', sep=";")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1215 entries, 0 to 1214
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   POKEID   1215 non-null   int64
 1   NAME     1215 non-null   object
 2   TYPE     1215 non-null   object
 3   TOTAL    1215 non-null   int64
 4   HP       1215 non-null   int64
 5   ATTACK   1215 non-null   int64
 6   DEFENSE  1215 non-null   int64
 7   SP_ATK   1215 non-null   int64
 8   SP_DEF   1215 non-null   int64
 9   SPEED    1215 non-null   int64
 10  ICONS    1215 non-null   object
dtypes: int64(8), object(3)
memory usage: 104.5+ KB

In [7]:
df.head(10)

,POKEID,NAME,TYPE,TOTAL,HP,ATTACK,DEFENSE,SP_ATK,SP_DEF,SPEED,ICONS
0,1,Bulbasaur,"['Grass', 'Poison']",318,45,49,49,65,65,45,['https://img.pokemondb.net/sprites/scarlet-vi...
1,2,Ivysaur,"['Grass', 'Poison']",405,60,62,63,80,80,60,['https://img.pokemondb.net/sprites/scarlet-vi...
2,3,Venusaur,"['Grass', 'Poison']",525,80,82,83,100,100,80,['https://img.pokemondb.net/sprites/scarlet-vi...
3,3,Venusaur Mega Venusaur,"['Grass', 'Poison']",625,80,100,123,122,120,80,['https://img.pokemondb.net/sprites/scarlet-vi...
4,4,Charmander,['Fire'],309,39,52,43,60,50,65,['https://img.pokemondb.net/sprites/scarlet-vi...
5,5,Charmeleon,['Fire'],405,58,64,58,80,65,80,['https://img.pokemondb.net/sprites/scarlet-vi...
6,6,Charizard,"['Fire', 'Flying']",534,78,84,78,109,85,100,['https://img.pokemondb.net/sprites/scarlet-vi...
7,6,Charizard Mega Charizard X,"['Fire', 'Dragon']",634,78,130,111,130,85,100,['https://img.pokemondb.net/sprites/scarlet-vi...
8,6,Charizard Mega Charizard Y,"['Fire', 'Flying']",634,78,104,78,159,115,100,['https://img.pokemondb.net/sprites/scarlet-vi...
9,7,Squirtle,['Water'],314,44,48,65,50,64,43,['https://img.pokemondb.net/sprites/scarlet-vi...

In [14]:
df_groupped = df.groupby('TYPE').agg({
    'NAME':'nunique',
    'TOTAL': 'mean',
    'HP': 'max',
    'ATTACK': 'min'
}).reset_index().rename(columns={'TYPE':'Category', 'NAME': 'No of Pokemons', 'TOTAL': 'Avg Points', 'HP': 'Max HP', 'ATTACK':'Min Attack'})

In [15]:
df_groupped.head()

              Category  No of Pokemons  Avg Points  Max HP  Min Attack
0      ['Bug', 'Dark']               1      450.00      71         102
1  ['Bug', 'Electric']               4      422.75      77          47
2     ['Bug', 'Fairy']               2      384.00      60          45
3  ['Bug', 'Fighting']               5      562.00     107         125
4      ['Bug', 'Fire']               2      455.00      85          60

In [16]:
df_groupped.to_csv('poke_report_by_category.csv', index=False)